.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.page-container {
  padding: 2rem;
  text-align: center;
}
button {
  cursor: pointer;
}
.error-section {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
.error-section .error {
  font-size: 25px;
  color: red;
  font-weight: bold;
}
.error-section .back-to-homepage {
  display: block;
  margin: 1rem auto;
  font-size: 20px;
}
.button {
  border: 1px solid #ccc;
  display: inline-block;
  background: #ddd;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.button:hover {
  background: #ccc;
}
.page-title {
  text-align: center;
}
.general-text {
  margin-bottom: 1rem;
  width: 100%;
}
input.error,
textarea.error {
  border: 1px solid #ff0000;
}
label.error {
  color: #ff0000;
}
.error-message {
  color: #ff0000;
  margin-bottom: 1rem;
}
